/* Reset rất nhẹ + base */
* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}

/* Không đặt style đặc thù trang/comp ở đây để tránh ảnh hưởng chéo */
